h2{
    text-align: center;
}

.landing-list{
    color:white;
}

.landing-list__form-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.landings-list__search-button{
    margin:15px;
}

.landings-list__card-container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.landing-list__landing-card{
    background-color: white;
    border-radius: 15px;
    color:black;
    padding:15px;
    text-align: center;

}


.leaflet-container{
    height:50vh;
    width:100vw;
}

.map{
    margin:auto;
    overflow: hidden;
    border-radius: 15px;
}

.map2{
    margin:auto;
    overflow: hidden;
    border-radius: 15px;
    max-height: 180px;
    max-width:350px;
}

.landings-list__search-by-name-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap:15px;
}

.landings-list__search-by-name-form{
    display:flex;
    flex-direction: column;
    gap:15px;
}