.user {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    gap:5px;

}

.user__form{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    gap:2px;


}

.user__input-box{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2px;
}

.user__buttons-box{


}

.user__user-icon{
    max-width:35px;
}
