.pagination{
    margin:auto;
    text-align: center;
}

.page-box-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:3px;
}

.page-box {
    margin:auto;
    padding: 4px;
    border: 0.1em solid #FFFFFF;
    //margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
    transition: all 0.2s;
    border-radius: 15px;
}

.pagination__button-box__filters{
    display:flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap:5px;   
}

.pagination__page{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
